if PANDAWINGSV1_LEFT

  config ZMK_KEYBOARD_NAME
    default "PandaWings"

  config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if PANDAWINGSV1_LEFT || PANDAWINGSV1_RIGHT

  config ZMK_SPLIT
    default y

endif
