        };

        opening_brace {
            bindings = <&kp DE_LEFT_BRACE>;
            key-positions = <19 17>;
        };

        opening_bracket {
            bindings = <&kp DE_LEFT_BRACKET>;
            key-positions = <19 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            //        | SW2  | SW3  | SW4  | SW5  | SW6  |  | SW27 | SW26 | SW25 | SW24 | SW23 | 
            // | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |  | SW33 | SW32 | SW31 | SW30 | SW29 | SW34 |
            // | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |  | SW39 | SW38 | SW37 | SW36 | SW35 | SW28 |
            //                      | SW19 | SW20 | SW21 |  | SW42 | SW41 | SW40 |

            bindings = <
&kp Q                              &kp W           &kp E               &kp R             &kp T        &kp DE_Z       &kp U             &kp I               &kp O           &kp P
&kp ESC                &mt LGUI A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G        &kp H          &mt LEFT_SHIFT J  &mt LEFT_CONTROL K  &mt LEFT_ALT L  &mt LGUI DE_SHARP_S  &kp TAB
&mt LEFT_SHIFT DELETE  &kp DE_Y    &kp X           &kp C               &kp V             &kp B        &kp N          &kp M             &kp COMMA           &kp DOT         &kp DE_MINUS         &mt LEFT_ALT LA(TAB)
                                                   &none               &mo 1             &kp SPACE    &kp BACKSPACE  &lt 2 RETURN      &none
            >;
        };

        num_sym_layer {
            bindings = <
&kp DE_EXCLAMATION                  &kp DE_DOUBLE_QUOTES      &kp DE_DOLLAR         &kp DE_PERCENT      &kp DE_AMPERSAND    &kp DE_TILDE   &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_MINUS
&kp ESCAPE          &kp DE_AT_SIGN  &kp DE_RIGHT_PARENTHESIS  &kp DE_RIGHT_BRACKET  &kp DE_RIGHT_BRACE  &kp DE_LESS_THAN    &kp DE_EQUAL   &kp DE_N4  &kp DE_N5  &kp DE_N6  &kp DE_PLUS      &kp DE_CARET
&kp LEFT_GUI        &kp DE_SECTION  &kp DE_PIPE               &kp DE_SLASH          &kp DE_BACKSLASH    &kp DE_PERCENT      &kp DE_HASH    &kp DE_N1  &kp DE_N2  &kp DE_N3  &kp DE_ASTERISK  &mt LEFT_SHIFT SPACE
                                                              &none                 &none               &none               &kp BACKSPACE  &kp DE_N0  &none
            >;
        };

        navi_media_layer {
            bindings = <
&kp F1                      &kp F2        &kp F3        &kp F4            &kp F5            &kp F6          &kp F7            &kp F8             &kp F9           &kp F10
&to 3         &kp F2        &kp F5        &kp F10       &kp F11           &kp F12           &kp LEFT_ARROW  &kp DOWN          &kp UP_ARROW       &kp RIGHT        &kp F11  &none
&kp LEFT_ALT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3      &bt BT_CLR        &kp C_NEXT      &kp C_PLAY_PAUSE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F12  &none
                                          &none         &kp LEFT_CONTROL  &kp LEFT_SHIFT    &none           &none             &none
            >;
        };

        game_layer {
            bindings = <
&kp ESCAPE                  &kp Q  &kp W  &kp E      &kp R        &kp T  &kp DE_N2  &kp DE_N3   &kp DE_N4      &kp DE_N5
&kp DE_N2   &kp LEFT_SHIFT  &kp A  &kp S  &kp D      &kp F        &kp G  &kp H      &kp J       &kp K          &kp L         &kp F12
&kp TAB     &kp LCTRL       &kp Y  &kp X  &kp C      &kp V        &kp B  &kp N      &kp M       &kp DE_PERIOD  &kp DE_COMMA  &to 0
                                   &kp M  &kp DE_N3  &kp SPACE    &mo 0  &mo 2      &kp RETURN
            >;
        };

        board_layer {
            bindings = <
&none         &none  &none       &none  &bootloader    &sys_reset  &none  &none  &none  &none
&none  &none  &none  &none       &none  &none          &none       &none  &none  &none  &none  &none
&none  &none  &none  &bt BT_CLR  &none  &none          &none       &none  &none  &none  &none  &none
                     &to 0       &to 0  &to 0          &to 0       &to 0  &to 0
            >;
        };
    };
};

