#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
//        | SW2  | SW3  | SW4  | SW5  | SW6  |  | SW27 | SW26 | SW25 | SW24 | SW23 | 
// | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |  | SW33 | SW32 | SW31 | SW30 | SW29 | SW34 |
// | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |  | SW39 | SW38 | SW37 | SW36 | SW35 | SW28 |
//                      | SW19 | SW20 | SW21 |  | SW42 | SW41 | SW40 |

//       |  Q  |  W  |  E  |  R  |  T  |  |  Z  |  U  |  I  |  O  |  P  | 
// | ESC |  A  |  S  |  D  |  F  |  G  |  |  H  |  J  |  K  |  L  | NON | TAB |
// | SFT |  Y  |  X  |  C  |  V  |  B  |  |  N  |  M  |  ,  |  .  |  -  | CTRL|
//                   | HOME| LWR | SPA |  | BCS | RSE | END |

      bindings = <
                   &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Z  &kp U  &kp I  &kp O  &kp P 
        &kp ESC    &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K  &kp L  &none  &kp TAB 
        &kp LSHIFT &kp Y  &kp X  &kp C  &kp V  &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp MINUS  &kp LCTRL 
                                 &kp HOME  &none  &kp SPACE    &kp BSPC &none &kp END 
      >;
    }
  }
}
