if PANDAWINGS-I_DONGLE

config ZMK_KEYBOARD_NAME
    default "PandaWings I"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

if PANDAWINGS-I_DONGLE || PANDAWINGS-I_LEFT || PANDAWINGS-I_RIGHT

config ZMK_SPLIT
    default y

endif
